* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #0d6efd;
  --primary-dark: #0262ef;
  --secondary: #09090a;
  --secondary-dark: black;
  --bg-color: #f8f9fa;
  --bg-color-dark: #212529;
  --font-color-light: #ffffff;
  --font-color-dark: #212529;
  --navbar-color: #ffffff;
}

.text-primary {
  color: #0d6efd !important;
}

.text-primary:hover, .text-primary:focus, .text-primary:active, .text-primary:active:focus {
  color: #0257d5 !important;
}

.text-secondary {
  color: #09090a !important;
}

.text-secondary:hover, .text-secondary:focus, .text-secondary:active, .text-secondary:active:focus {
  color: black !important;
}

.text-danger {
  color: #d80000 !important;
}

.text-danger:hover, .text-danger:focus, .text-danger:active, .text-danger:active:focus {
  color: #a50000 !important;
}

.text-success {
  color: #028900 !important;
}

.text-success:hover, .text-success:focus, .text-success:active, .text-success:active:focus {
  color: #015600 !important;
}

.text-info {
  color: #00d8ff !important;
}

.text-info:hover, .text-info:focus, .text-info:active, .text-info:active:focus {
  color: #00adcc !important;
}

.text-warning {
  color: #ffae00 !important;
}

.text-warning:hover, .text-warning:focus, .text-warning:active, .text-warning:active:focus {
  color: #cc8b00 !important;
}

.text-light {
  color: #f8f9fa !important;
}

.text-light:hover, .text-light:focus, .text-light:active, .text-light:active:focus {
  color: #dae0e5 !important;
}

.text-dark {
  color: #212529 !important;
}

.text-dark:hover, .text-dark:focus, .text-dark:active, .text-dark:active:focus {
  color: #0a0c0d !important;
}

.text-white {
  color: #ffffff !important;
}

.text-white:hover, .text-white:focus, .text-white:active, .text-white:active:focus {
  color: #e6e6e6 !important;
}

.btn {
  padding: 0.5rem 1.2rem;
}

.btn.btn-primary {
  background-color: #0d6efd;
  color: #ffffff;
  border: 1px solid #0d6efd;
}

.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary:active:focus {
  -webkit-box-shadow: none;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* Firefox 3.5 - 3.6 */
  box-shadow: none;
  border: 1px solid #0257d5;
  background-color: #0257d5;
}

.btn.btn-outline-primary {
  color: #0d6efd;
  border: 1px solid #0d6efd;
}

.btn.btn-outline-primary:hover, .btn.btn-outline-primary:focus, .btn.btn-outline-primary:active, .btn.btn-outline-primary:active:focus {
  color: #ffffff;
  -webkit-box-shadow: none;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* Firefox 3.5 - 3.6 */
  box-shadow: none;
  background-color: #0d6efd;
}

.btn.btn-secondary {
  background-color: #09090a;
  color: #ffffff;
  border: 1px solid #09090a;
}

.btn.btn-secondary:hover, .btn.btn-secondary:focus, .btn.btn-secondary:active, .btn.btn-secondary:active:focus {
  -webkit-box-shadow: none;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* Firefox 3.5 - 3.6 */
  box-shadow: none;
  border: 1px solid black;
  background-color: black;
}

.btn.btn-outline-secondary {
  color: #09090a;
  border: 1px solid #09090a;
}

.btn.btn-outline-secondary:hover, .btn.btn-outline-secondary:focus, .btn.btn-outline-secondary:active, .btn.btn-outline-secondary:active:focus {
  color: #ffffff;
  -webkit-box-shadow: none;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* Firefox 3.5 - 3.6 */
  box-shadow: none;
  background-color: #09090a;
}

.btn.btn-danger {
  background-color: #d80000;
  color: #ffffff;
  border: 1px solid #d80000;
}

.btn.btn-danger:hover, .btn.btn-danger:focus, .btn.btn-danger:active, .btn.btn-danger:active:focus {
  -webkit-box-shadow: none;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* Firefox 3.5 - 3.6 */
  box-shadow: none;
  border: 1px solid #a50000;
  background-color: #a50000;
}

.btn.btn-outline-danger {
  color: #d80000;
  border: 1px solid #d80000;
}

.btn.btn-outline-danger:hover, .btn.btn-outline-danger:focus, .btn.btn-outline-danger:active, .btn.btn-outline-danger:active:focus {
  color: #ffffff;
  -webkit-box-shadow: none;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* Firefox 3.5 - 3.6 */
  box-shadow: none;
  background-color: #d80000;
}

.btn.btn-success {
  background-color: #028900;
  color: #ffffff;
  border: 1px solid #028900;
}

.btn.btn-success:hover, .btn.btn-success:focus, .btn.btn-success:active, .btn.btn-success:active:focus {
  -webkit-box-shadow: none;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* Firefox 3.5 - 3.6 */
  box-shadow: none;
  border: 1px solid #015600;
  background-color: #015600;
}

.btn.btn-outline-success {
  color: #028900;
  border: 1px solid #028900;
}

.btn.btn-outline-success:hover, .btn.btn-outline-success:focus, .btn.btn-outline-success:active, .btn.btn-outline-success:active:focus {
  color: #ffffff;
  -webkit-box-shadow: none;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* Firefox 3.5 - 3.6 */
  box-shadow: none;
  background-color: #028900;
}

.btn.btn-info {
  background-color: #00d8ff;
  color: #000000;
  border: 1px solid #00d8ff;
}

.btn.btn-info:hover, .btn.btn-info:focus, .btn.btn-info:active, .btn.btn-info:active:focus {
  -webkit-box-shadow: none;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* Firefox 3.5 - 3.6 */
  box-shadow: none;
  border: 1px solid #00adcc;
  background-color: #00adcc;
}

.btn.btn-outline-info {
  color: #00d8ff;
  border: 1px solid #00d8ff;
}

.btn.btn-outline-info:hover, .btn.btn-outline-info:focus, .btn.btn-outline-info:active, .btn.btn-outline-info:active:focus {
  color: #000000;
  -webkit-box-shadow: none;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* Firefox 3.5 - 3.6 */
  box-shadow: none;
  background-color: #00d8ff;
}

.btn.btn-warning {
  background-color: #ffae00;
  color: #000000;
  border: 1px solid #ffae00;
}

.btn.btn-warning:hover, .btn.btn-warning:focus, .btn.btn-warning:active, .btn.btn-warning:active:focus {
  -webkit-box-shadow: none;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* Firefox 3.5 - 3.6 */
  box-shadow: none;
  border: 1px solid #cc8b00;
  background-color: #cc8b00;
}

.btn.btn-outline-warning {
  color: #ffae00;
  border: 1px solid #ffae00;
}

.btn.btn-outline-warning:hover, .btn.btn-outline-warning:focus, .btn.btn-outline-warning:active, .btn.btn-outline-warning:active:focus {
  color: #000000;
  -webkit-box-shadow: none;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* Firefox 3.5 - 3.6 */
  box-shadow: none;
  background-color: #ffae00;
}

.btn.btn-light {
  background-color: #f8f9fa;
  color: #000000;
  border: 1px solid #f8f9fa;
  border: 1px solid #000000;
}

.btn.btn-light:hover, .btn.btn-light:focus, .btn.btn-light:active, .btn.btn-light:active:focus {
  -webkit-box-shadow: none;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* Firefox 3.5 - 3.6 */
  box-shadow: none;
  border: 1px solid #dae0e5;
  background-color: #dae0e5;
}

.btn.btn-outline-light {
  color: #f8f9fa;
  border: 1px solid #f8f9fa;
}

.btn.btn-outline-light:hover, .btn.btn-outline-light:focus, .btn.btn-outline-light:active, .btn.btn-outline-light:active:focus {
  color: #000000;
  -webkit-box-shadow: none;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* Firefox 3.5 - 3.6 */
  box-shadow: none;
  background-color: #f8f9fa;
}

.btn.btn-dark {
  background-color: #212529;
  color: #ffffff;
  border: 1px solid #212529;
}

.btn.btn-dark:hover, .btn.btn-dark:focus, .btn.btn-dark:active, .btn.btn-dark:active:focus {
  -webkit-box-shadow: none;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* Firefox 3.5 - 3.6 */
  box-shadow: none;
  border: 1px solid #0a0c0d;
  background-color: #0a0c0d;
}

.btn.btn-outline-dark {
  color: #212529;
  border: 1px solid #212529;
}

.btn.btn-outline-dark:hover, .btn.btn-outline-dark:focus, .btn.btn-outline-dark:active, .btn.btn-outline-dark:active:focus {
  color: #ffffff;
  -webkit-box-shadow: none;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* Firefox 3.5 - 3.6 */
  box-shadow: none;
  background-color: #212529;
}

.btn.btn-white {
  background-color: #ffffff;
  color: #212529;
  border: 1px solid #ffffff;
}

.btn.btn-white:hover, .btn.btn-white:focus, .btn.btn-white:active, .btn.btn-white:active:focus {
  -webkit-box-shadow: none;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* Firefox 3.5 - 3.6 */
  box-shadow: none;
  border: 1px solid #e6e6e6;
  background-color: #e6e6e6;
}

.btn.btn-outline-white {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.btn.btn-outline-white:hover, .btn.btn-outline-white:focus, .btn.btn-outline-white:active, .btn.btn-outline-white:active:focus {
  color: #212529;
  -webkit-box-shadow: none;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* Firefox 3.5 - 3.6 */
  box-shadow: none;
  background-color: #ffffff;
}

.btn.btn-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.6rem;
}

.btn.btn-lg {
  padding: 0.5rem 1.6rem;
}

.btn.btn-rounded {
  padding: 0.5rem 1.6rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.btn.btn-rounded.btn-lg {
  padding: 0.6rem 1.8rem;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

form label {
  font-weight: 500;
}

.form-control,
.form-select {
  border: 2px solid #adb5bd;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}

.form-control.input-invalid,
.form-select.input-invalid {
  border: 2px solid #d80000;
}

.form-control.input-valid,
.form-select.input-valid {
  border: 2px solid #028900;
}

.form-control:hover, .form-control:focus, .form-control:active, .form-control:active:focus,
.form-select:hover,
.form-select:focus,
.form-select:active,
.form-select:active:focus {
  -webkit-box-shadow: none;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* Firefox 3.5 - 3.6 */
  box-shadow: none;
  border: 2px solid #0d6efd;
}

.form-control:hover.input-invalid, .form-control:focus.input-invalid, .form-control:active.input-invalid, .form-control:active:focus.input-invalid,
.form-select:hover.input-invalid,
.form-select:focus.input-invalid,
.form-select:active.input-invalid,
.form-select:active:focus.input-invalid {
  border: 2px solid #d80000;
}

.form-control:hover.input-valid, .form-control:focus.input-valid, .form-control:active.input-valid, .form-control:active:focus.input-valid,
.form-select:hover.input-valid,
.form-select:focus.input-valid,
.form-select:active.input-valid,
.form-select:active:focus.input-valid {
  border: 2px solid #028900;
}

.form-check {
  cursor: pointer;
}

.form-check-input {
  width: 1.3rem;
  height: 1.3rem;
  margin-top: 0.08em;
  margin-right: 0.6rem;
  border: 2px solid #adb5bd;
}

.form-check-input:checked[type="checkbox"] {
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z' fill='rgba(13,110,253,1)'/%3E%3C/svg%3E");
}

.form-check-input:checked[type="radio"] {
  position: relative;
  background-color: transparent;
}

.form-check-input:checked[type="radio"]:after {
  content: "";
  width: 0.65rem;
  height: 0.65rem;
  background-color: #0d6efd;
  display: block;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.form-check-input:focus {
  -webkit-box-shadow: none;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* Firefox 3.5 - 3.6 */
  box-shadow: none;
}

html {
  color: var(--font-color-dark);
  font-family: "Roboto", sans-serif;
  background: var(--bg-color);
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--bg-color);
  height: 3000px;
}

.fe-section {
  padding: 6rem 0;
}

.fe-section .fe-section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fe-section .fe-section-header h4 {
  font-size: 2.2rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  margin-bottom: 1rem;
}

.fe-section .fe-section-header h2 {
  font-size: 3rem;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}

.fe-section .fe-section-body {
  margin-top: 3rem;
}

.fe-header .fe-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  z-index: 999;
}

.fe-header .fe-navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fe-header .fe-navbar .container .fe-navbar-logo a {
  color: var(--primary);
  font-weight: 700;
  font-size: 2rem;
}

.fe-header .fe-navbar .container .fe-navbar-inner .fe-navbar-icon {
  display: none;
}

.fe-header .fe-navbar .container .fe-navbar-inner .fe-navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fe-header .fe-navbar .container .fe-navbar-inner .fe-navbar-nav li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fe-header .fe-navbar .container .fe-navbar-inner .fe-navbar-nav li a {
  padding: 0 1.2rem;
  margin: 0 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--font-color);
}

.fe-header .fe-navbar .container .fe-navbar-inner .fe-navbar-nav li a:hover, .fe-header .fe-navbar .container .fe-navbar-inner .fe-navbar-nav li a:focus {
  color: var(--primary);
}

.fe-header .fe-navbar.sticky {
  width: 100%;
  position: fixed;
  background: #ffffff;
  -webkit-box-shadow: 0 0px 6px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0px 6px 1px rgba(0, 0, 0, 0.2);
  -webkit-animation-name: feNavbarAnimation;
          animation-name: feNavbarAnimation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.fe-header .fe-navbar-full {
  position: fixed;
  width: 100%;
  right: -110%;
  top: 0;
  height: 100%;
  overflow-y: auto;
  background: #ffffff;
  z-index: 1000;
  transition: right 300ms ease-in-out;
  -webkit-transition: right 300ms ease-in-out;
  -moz-transition: right 300ms ease-in-out;
  -ms-transition: right 300ms ease-in-out;
  -o-transition: right 300ms ease-in-out;
  -webkit-box-shadow: 0 0px 6px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0px 6px 1px rgba(0, 0, 0, 0.2);
}

.fe-header .fe-navbar-full.open {
  right: 0;
}

.fe-header .fe-navbar-full .fe-navbar-full-header {
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid var(--primary);
}

.fe-header .fe-navbar-full .fe-navbar-full-header .fe-navbar-full-logo a {
  font-size: 2rem;
  font-weight: 700;
}

.fe-header .fe-navbar-full .fe-navbar-full-header .fe-navbar-full-icon {
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}

.fe-header .fe-navbar-full .fe-navbar-nav {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fe-header .fe-navbar-full .fe-navbar-nav li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fe-header .fe-navbar-full .fe-navbar-nav li a {
  padding: 1.2rem 2rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--font-color);
}

.fe-header .fe-navbar-full .fe-navbar-nav li a:hover, .fe-header .fe-navbar-full .fe-navbar-nav li a:focus {
  color: var(--primary);
}

.fe-header .fe-navbar-full .fe-navbar-nav li.fe-navbar-nav-btn {
  margin: 0 2rem;
}

.fe-header .fe-navbar-full .fe-navbar-nav li.fe-navbar-nav-btn button {
  margin-top: 2rem;
}

@-webkit-keyframes feNavbarAnimation {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
}

@keyframes feNavbarAnimation {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
}

.fe-hero-section {
  padding: 8rem 0 4rem 0;
  background: url("../images/hero-section-bg.jpg");
}

.fe-hero-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fe-hero-section .container .fe-hero-section-left {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fe-hero-section .container .fe-hero-section-left h4 {
  font-size: 2.2rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  margin-bottom: 1rem;
}

.fe-hero-section .container .fe-hero-section-left h1 {
  padding: 0 4rem 0 0;
  font-size: 5rem;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  margin-bottom: 2rem;
}

.fe-hero-section .container .fe-hero-section-left p {
  padding: 0 4rem 0 0;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.fe-hero-section .container .fe-hero-section-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.fe-hero-section .container .fe-hero-section-right .fe-hero-img img {
  width: 100%;
  -o-object-fit: none;
     object-fit: none;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.fe-about {
  background: #ffffff;
}

.fe-about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fe-about .container .fe-about-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.fe-about .container .fe-about-left .fe-about-img {
  height: 500px;
  overflow: hidden;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.fe-about .container .fe-about-left .fe-about-img img {
  width: 100%;
  -o-object-fit: none;
     object-fit: none;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.fe-about .container .fe-about-right {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-left: 4rem;
}

.fe-about .container .fe-about-right h4 {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  margin-bottom: 1rem;
}

.fe-about .container .fe-about-right h2 {
  padding: 0 4rem 0 0;
  font-size: 3rem;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  margin-bottom: 2rem;
}

.fe-about .container .fe-about-right p {
  padding: 0 4rem 0 0;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.fe-service {
  background: url("../images/service-section-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.fe-service .fe-service-layout {
  display: -ms-grid;
  display: grid;
  margin-top: 1rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.fe-service .fe-service-layout .fe-service-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  padding: 3rem 2.2rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  -webkit-box-shadow: 0 0 1rem 1px rgba(13, 110, 253, 0.2);
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 0 1rem 1px rgba(13, 110, 253, 0.2);
}

.fe-service .fe-service-layout .fe-service-item:nth-child(3n-1) {
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
}

.fe-service .fe-service-layout .fe-service-item .fe-service-item-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 80px;
  font-size: 2.4rem;
  margin-bottom: 2rem;
  color: var(--primary);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  -webkit-box-shadow: 0 0 1rem 1px rgba(13, 110, 253, 0.2);
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 0 1rem 1px rgba(13, 110, 253, 0.2);
}

.fe-service .fe-service-layout .fe-service-item h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.fe-service .fe-service-layout .fe-service-item p {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.fe-feedback .fe-feedback-layout {
  display: -ms-grid;
  display: grid;
  margin-top: 1rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.fe-feedback .fe-feedback-layout .fe-feedback-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  padding: 3rem 2.2rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  -webkit-box-shadow: 0 0 1rem 1px rgba(13, 110, 253, 0.2);
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 0 1rem 1px rgba(13, 110, 253, 0.2);
}

.fe-feedback .fe-feedback-layout .fe-feedback-item .fe-feedback-item-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  width: 80px;
  height: 80px;
  margin-bottom: 2rem;
  color: var(--primary);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.fe-feedback .fe-feedback-layout .fe-feedback-item .fe-feedback-item-icon img {
  width: 100%;
  height: 100%;
}

.fe-feedback .fe-feedback-layout .fe-feedback-item h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  position: relative;
}

.fe-feedback .fe-feedback-layout .fe-feedback-item h4:before {
  content: "";
  width: 20%;
  height: 4px;
  background: var(--primary);
  position: absolute;
  top: -1rem;
}

.fe-feedback .fe-feedback-layout .fe-feedback-item h5 {
  font-family: "Oswald", sans-serif;
  margin-bottom: 1rem;
}

.fe-feedback .fe-feedback-layout .fe-feedback-item p {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.fe-client-say {
  background: #ffffff;
  background: url("../images/client-say-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.fe-client-say .fe-client-layout {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
}

.fe-client-say .fe-client-layout .fe-client-say-left {
  padding: 1.2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.fe-client-say .fe-client-layout .fe-client-say-left .nav-link {
  font-size: 1.4rem;
  border-left: 4px solid #dee2e6;
  text-align: left;
  color: #ced4da;
  font-weight: bold;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.fe-client-say .fe-client-layout .fe-client-say-left .nav-link.active {
  border-left: 4px solid #0d6efd;
  background: none;
  color: #212529;
}

.fe-client-say .fe-client-layout .fe-client-say-right {
  padding: 1.2rem;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.fe-client-say .fe-client-layout .fe-client-say-right .card {
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.fe-client-say .fe-client-layout .fe-client-say-right .card .fe-client-say-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fe-client-say .fe-client-layout .fe-client-say-right .card h5.card-title {
  font-size: 2rem;
  padding-right: 1rem;
  font-weight: bold;
}

.fe-client-say .fe-client-layout .fe-client-say-right .card .fe-client-say-list li {
  font-size: 1.2rem;
  position: relative;
  padding-left: 1.4rem;
}

.fe-client-say .fe-client-layout .fe-client-say-right .card .fe-client-say-list li:before {
  content: "";
  width: 10px;
  height: 10px;
  background: #212529;
  position: absolute;
  left: 0;
  top: 0.5rem;
}

.fe-achievement {
  background-size: contain;
  background: url("../images/awards.jpg");
}

.fe-achievement .fe-section-header h4 {
  color: #ffffff;
}

.fe-achievement .fe-section-header h2 {
  color: #ffffff;
}

.fe-achievement .fe-achievement-layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.fe-achievement .fe-achievement-layout .fe-achievement-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fe-achievement .fe-achievement-layout .fe-achievement-item .fe-achievement-item-icon {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border: 3px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.2rem;
  color: #ffffff;
}

.fe-achievement .fe-achievement-layout .fe-achievement-item h4 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #ffffff;
  margin-top: 1rem;
}

.fe-achievement .fe-achievement-layout .fe-achievement-item p {
  color: #ffffff;
  font-size: 1.2rem;
}

.fe-contact {
  background: #ffffff;
}

.fe-contact .fe-contact-card {
  border: none;
  -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
}

.fe-contact .fe-contact-card .fe-contact-card-img-outer {
  position: relative;
}

.fe-contact .fe-contact-card .fe-contact-card-img-outer .fe-contact-card-img {
  position: absolute;
  overflow: hidden;
  height: 100%;
}

.fe-contact .fe-contact-card .fe-contact-card-img-outer .fe-contact-card-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.fe-contact .fe-contact-card .fe-contact-card-form {
  padding: 2.2rem;
}

.fe-let-work .fe-let-work-layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.fe-let-work .fe-let-work-layout .fe-let-work-item {
  background: #ffffff;
  overflow: hidden;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
}

.fe-let-work .fe-let-work-layout .fe-let-work-item .fe-let-work-item-img img {
  width: 100%;
}

.fe-let-work .fe-let-work-layout .fe-let-work-item .fe-let-work-item-content {
  padding: 2rem;
}

.fe-let-work .fe-let-work-layout .fe-let-work-item .fe-let-work-item-content h4 {
  font-weight: bold;
  margin-bottom: 2rem;
  position: relative;
}

.fe-let-work .fe-let-work-layout .fe-let-work-item .fe-let-work-item-content h4:after {
  content: "";
  width: 20%;
  height: 3px;
  background: var(--primary);
  position: absolute;
  bottom: -1rem;
  left: 0;
}

.fe-let-work .fe-let-work-layout .fe-let-work-item .fe-let-work-item-content p {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.fe-footer {
  background: #ffffff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fe-footer::before {
  content: "";
  background: url("../images/footer-bg4.jpg");
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fe-footer .fe-footer-copyright {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  padding: 1rem 0;
}

.fe-footer .fe-footer-copyright p {
  text-align: center;
  color: #ced4da;
  margin: 0;
}

.fe-footer .fe-footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.fe-footer .fe-footer-inner .fe-footer-layout {
  margin-top: 14rem;
  margin-bottom: 4rem;
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.fe-footer .fe-footer-inner .fe-footer-layout .fe-footer-item {
  color: #ced4da;
}

.fe-footer .fe-footer-inner .fe-footer-layout .fe-footer-item h3 {
  font-weight: 700;
  font-size: 2.4rem;
  color: #ffffff;
}

.fe-footer .fe-footer-inner .fe-footer-layout .fe-footer-item h4 {
  font-weight: 700;
  font-size: 1.6rem;
  color: #ffffff;
  position: relative;
}

.fe-footer .fe-footer-inner .fe-footer-layout .fe-footer-item h4:after {
  content: "";
  position: absolute;
  width: 20%;
  left: 0;
  bottom: -0.4rem;
  height: 4px;
  background: #ffffff;
}

.fe-footer .fe-footer-inner .fe-footer-layout .fe-footer-item p {
  font-size: 1.1rem;
}

.fe-footer .fe-footer-inner .fe-footer-layout .fe-footer-item .fe-footer-instgram {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.6rem;
}

.fe-footer .fe-footer-inner .fe-footer-layout .fe-footer-item .fe-footer-instgram > div img {
  width: 100%;
}

.fe-footer .fe-footer-inner .fe-footer-layout .fe-footer-item .fe-footer-item-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fe-footer .fe-footer-inner .fe-footer-layout .fe-footer-item .fe-footer-item-social li {
  margin-right: 0.6rem;
}

.fe-footer .fe-footer-inner .fe-footer-layout .fe-footer-item .fe-footer-item-social li a {
  width: 35px;
  height: 35px;
  border: 1px solid #ced4da;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ced4da;
}

.fe-footer .fe-footer-inner .fe-footer-layout .fe-footer-item .fe-footer-item-social li a:hover, .fe-footer .fe-footer-inner .fe-footer-layout .fe-footer-item .fe-footer-item-social li a:focus {
  background: #ced4da;
  color: #0d6efd;
}

.fe-footer .fe-footer-inner .fe-footer-layout .fe-footer-item .fe-footer-item-social li:last-child {
  margin-right: 0;
}

.fe-footer .fe-footer-inner .fe-footer-layout .fe-footer-item .fe-footer-item-ul {
  margin-top: 1.6rem;
}

.fe-footer .fe-footer-inner .fe-footer-layout .fe-footer-item .fe-footer-item-ul li {
  margin-bottom: 0.6rem;
}

.fe-footer .fe-footer-inner .fe-footer-layout .fe-footer-item .fe-footer-item-ul li a {
  padding-left: 1.4rem;
  color: #ced4da;
  position: relative;
}

.fe-footer .fe-footer-inner .fe-footer-layout .fe-footer-item .fe-footer-item-ul li a:before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background: #ffffff;
  display: block;
  top: 0.35rem;
}

.fe-footer .fe-footer-inner .fe-footer-layout .fe-footer-item .fe-footer-item-ul li a:hover, .fe-footer .fe-footer-inner .fe-footer-layout .fe-footer-item .fe-footer-item-ul li a:focus {
  color: #0d6efd;
}

.fe-footer .fe-footer-inner .fe-footer-layout .fe-footer-item .fe-footer-item-ul li a:hover:before, .fe-footer .fe-footer-inner .fe-footer-layout .fe-footer-item .fe-footer-item-ul li a:focus:before {
  background: #0d6efd;
}

/************************************************************************************************
RESPONSIVE
************************************************************************************************/
@media (max-width: 575.98px) and (orientation: portrait) {
  .fe-section {
    padding: 3rem 0;
  }
  .fe-section .fe-section-header h4 {
    font-size: 1.4rem;
  }
  .fe-section .fe-section-header h2 {
    font-size: 2rem;
  }
  .fe-section .fe-section-body {
    margin-top: 1rem;
  }
  .fe-header .fe-navbar .fe-navbar-logo {
    padding-left: 1rem;
  }
  .fe-header .fe-navbar .fe-navbar-inner .fe-navbar-icon {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 45px;
    height: 45px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
  }
  .fe-header .fe-navbar .fe-navbar-inner .fe-navbar-nav {
    display: none !important;
  }
  .fe-hero-section {
    background-size: cover;
  }
  .fe-hero-section .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fe-hero-section .container .fe-hero-section-left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 0 1rem;
  }
  .fe-hero-section .container .fe-hero-section-left h4 {
    margin-top: 1.4rem;
    font-size: 1.6rem;
  }
  .fe-hero-section .container .fe-hero-section-left h1 {
    font-size: 3rem;
    padding: 0;
  }
  .fe-hero-section .container .fe-hero-section-left p {
    font-size: 1.1rem;
    padding: 0;
  }
  .fe-about .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fe-about .container .fe-about-right {
    padding-left: 1rem;
  }
  .fe-about .container .fe-about-right h4 {
    font-size: 1.4rem;
    margin-top: 1.4rem;
  }
  .fe-about .container .fe-about-right h2 {
    font-size: 2rem;
    padding: 0;
  }
  .fe-about .container .fe-about-right p {
    font-size: 1rem;
    padding: 0;
  }
  .fe-service .fe-service-layout {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
  .fe-service .fe-service-layout .fe-service-item:nth-child(3n-1) {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  .fe-achievement .fe-achievement-layout {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .fe-client-say .fe-client-layout {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .fe-client-say .fe-client-layout .fe-client-say-left {
    padding: 1.2rem 0 0 2rem;
  }
  .fe-client-say .fe-client-layout .fe-client-say-img {
    margin-top: 1rem;
  }
  .fe-feedback .fe-feedback-layout {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
  .fe-let-work .fe-let-work-layout {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .fe-contact .fe-contact-card .fe-contact-card-img-outer .fe-contact-card-img {
    position: relative;
  }
  .fe-contact .fe-contact-card .fe-contact-card-form {
    padding: 1rem;
  }
  .fe-footer:before {
    background-size: cover;
  }
  .fe-footer .fe-footer-inner .fe-footer-layout {
    display: -ms-grid;
    display: grid;
    grid-gap: 3rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .fe-footer .fe-footer-inner .fe-footer-layout .fe-footer-item {
    padding: 0 1rem;
  }
}

@media (max-width: 575.98px) and (orientation: landscape) {
  .fe-section {
    padding: 3rem 0;
  }
  .fe-section .fe-section-header h4 {
    font-size: 1.4rem;
  }
  .fe-section .fe-section-header h2 {
    font-size: 2rem;
  }
  .fe-section .fe-section-body {
    margin-top: 1rem;
  }
  .fe-header .fe-navbar .fe-navbar-logo {
    padding-left: 1rem;
  }
  .fe-header .fe-navbar .fe-navbar-inner .fe-navbar-icon {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 45px;
    height: 45px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
  }
  .fe-header .fe-navbar .fe-navbar-inner .fe-navbar-nav {
    display: none !important;
  }
  .fe-hero-section {
    background-size: cover;
  }
  .fe-hero-section .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fe-hero-section .container .fe-hero-section-left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 0 1rem;
  }
  .fe-hero-section .container .fe-hero-section-left h4 {
    margin-top: 1.4rem;
    font-size: 1.6rem;
  }
  .fe-hero-section .container .fe-hero-section-left h1 {
    font-size: 3rem;
    padding: 0;
  }
  .fe-hero-section .container .fe-hero-section-left p {
    font-size: 1.1rem;
    padding: 0;
  }
  .fe-about .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fe-about .container .fe-about-right {
    padding-left: 1rem;
  }
  .fe-about .container .fe-about-right h4 {
    font-size: 1.4rem;
    margin-top: 1.4rem;
  }
  .fe-about .container .fe-about-right h2 {
    font-size: 2rem;
    padding: 0;
  }
  .fe-about .container .fe-about-right p {
    font-size: 1rem;
    padding: 0;
  }
  .fe-service .fe-service-layout {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
  .fe-service .fe-service-layout .fe-service-item:nth-child(3n-1) {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  .fe-achievement .fe-achievement-layout {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .fe-client-say .fe-client-layout {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .fe-client-say .fe-client-layout .fe-client-say-left {
    padding: 1.2rem 0 0 2rem;
  }
  .fe-client-say .fe-client-layout .fe-client-say-img {
    margin-top: 1rem;
  }
  .fe-feedback .fe-feedback-layout {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
  .fe-let-work .fe-let-work-layout {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .fe-contact .fe-contact-card .fe-contact-card-img-outer .fe-contact-card-img {
    position: relative;
  }
  .fe-contact .fe-contact-card .fe-contact-card-form {
    padding: 1rem;
  }
  .fe-footer:before {
    background-size: cover;
  }
  .fe-footer .fe-footer-inner .fe-footer-layout {
    display: -ms-grid;
    display: grid;
    grid-gap: 3rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .fe-footer .fe-footer-inner .fe-footer-layout .fe-footer-item {
    padding: 0 1rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .fe-section {
    padding: 3rem 0;
  }
  .fe-section .fe-section-header h4 {
    font-size: 1.4rem;
  }
  .fe-section .fe-section-header h2 {
    font-size: 2rem;
  }
  .fe-section .fe-section-body {
    margin-top: 1rem;
  }
  .fe-header .fe-navbar .fe-navbar-logo {
    padding-left: 1rem;
  }
  .fe-header .fe-navbar .fe-navbar-inner .fe-navbar-icon {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 45px;
    height: 45px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
  }
  .fe-header .fe-navbar .fe-navbar-inner .fe-navbar-nav {
    display: none !important;
  }
  .fe-header .fe-navbar-full {
    width: 60%;
    right: -110%;
  }
  .fe-header .fe-navbar-full .fe-navbar-nav {
    margin-bottom: 2rem;
  }
  .fe-hero-section {
    background-size: cover;
  }
  .fe-hero-section .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fe-hero-section .container .fe-hero-section-left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 0 1rem;
  }
  .fe-hero-section .container .fe-hero-section-left h4 {
    margin-top: 1.4rem;
    font-size: 1.6rem;
  }
  .fe-hero-section .container .fe-hero-section-left h1 {
    font-size: 3rem;
    padding: 0;
  }
  .fe-hero-section .container .fe-hero-section-left p {
    font-size: 1.1rem;
    padding: 0;
  }
  .fe-about .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fe-about .container .fe-about-right {
    padding-left: 1rem;
  }
  .fe-about .container .fe-about-right h4 {
    font-size: 1.4rem;
    margin-top: 1.4rem;
  }
  .fe-about .container .fe-about-right h2 {
    font-size: 2rem;
    padding: 0;
  }
  .fe-about .container .fe-about-right p {
    font-size: 1rem;
    padding: 0;
  }
  .fe-service .fe-service-layout {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
  .fe-service .fe-service-layout .fe-service-item:nth-child(3n-1) {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  .fe-achievement .fe-achievement-layout {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .fe-client-say .fe-client-layout {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .fe-client-say .fe-client-layout .fe-client-say-left {
    padding: 1.2rem 0 0 2rem;
  }
  .fe-client-say .fe-client-layout .fe-client-say-img {
    margin-top: 1rem;
  }
  .fe-feedback .fe-feedback-layout {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
  .fe-let-work .fe-let-work-layout {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .fe-contact .fe-contact-card .fe-contact-card-img-outer .fe-contact-card-img {
    position: relative;
  }
  .fe-contact .fe-contact-card .fe-contact-card-form {
    padding: 1rem;
  }
  .fe-footer:before {
    background-size: cover;
  }
  .fe-footer .fe-footer-inner .fe-footer-layout {
    display: -ms-grid;
    display: grid;
    grid-gap: 3rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .fe-footer .fe-footer-inner .fe-footer-layout .fe-footer-item {
    padding: 0 1rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .fe-section {
    padding: 3rem 0;
  }
  .fe-section .fe-section-header h4 {
    font-size: 1.4rem;
  }
  .fe-section .fe-section-header h2 {
    font-size: 2rem;
  }
  .fe-section .fe-section-body {
    margin-top: 1rem;
  }
  .fe-header .fe-navbar .fe-navbar-logo {
    padding-left: 1rem;
  }
  .fe-header .fe-navbar .fe-navbar-inner .fe-navbar-icon {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 45px;
    height: 45px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
  }
  .fe-header .fe-navbar .fe-navbar-inner .fe-navbar-nav {
    display: none !important;
  }
  .fe-header .fe-navbar-full {
    right: -110%;
    width: 40%;
  }
  .fe-hero-section {
    background-size: cover;
  }
  .fe-hero-section .container .fe-hero-section-left {
    padding: 0 1rem;
  }
  .fe-hero-section .container .fe-hero-section-left h4 {
    margin-top: 1.4rem;
    font-size: 1.6rem;
  }
  .fe-hero-section .container .fe-hero-section-left h1 {
    font-size: 2.4rem;
    padding: 0;
    margin-bottom: 1.4rem;
  }
  .fe-hero-section .container .fe-hero-section-left p {
    font-size: 1.1rem;
    padding: 0;
    margin-bottom: 1.4rem;
  }
  .fe-hero-section .container .fe-hero-section-right .fe-hero-img img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .fe-about .container .fe-about-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fe-about .container .fe-about-left .fe-about-img {
    height: auto;
  }
  .fe-about .container .fe-about-right h4 {
    font-size: 1.4rem;
    margin-top: 1.4rem;
  }
  .fe-about .container .fe-about-right h2 {
    font-size: 2rem;
    padding: 0;
    margin-bottom: 1.4rem;
  }
  .fe-about .container .fe-about-right p {
    font-size: 1rem;
    padding: 0;
    margin-bottom: 1.4rem;
  }
  .fe-service .fe-service-layout {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.4rem;
  }
  .fe-service .fe-service-layout .fe-service-item:nth-child(3n-1) {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  .fe-achievement .fe-achievement-layout {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
  .fe-client-say .fe-client-layout {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .fe-client-say .fe-client-layout .fe-client-say-left {
    padding: 1.2rem 0 0 2rem;
  }
  .fe-client-say .fe-client-layout .fe-client-say-img {
    margin-top: 1rem;
  }
  .fe-feedback .fe-feedback-layout {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.4rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .fe-feedback .fe-feedback-layout > * {
    grid-column: span 2;
  }
  .fe-feedback .fe-feedback-layout > *:nth-last-child(1):nth-child(odd) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/span 2;
  }
  .fe-let-work .fe-let-work-layout {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.4rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .fe-let-work .fe-let-work-layout > * {
    grid-column: span 2;
  }
  .fe-let-work .fe-let-work-layout > *:nth-last-child(1):nth-child(odd) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/span 2;
  }
  .fe-contact .fe-contact-card .fe-contact-card-img-outer .fe-contact-card-img {
    position: relative;
  }
  .fe-contact .fe-contact-card .fe-contact-card-form {
    padding: 1rem;
  }
  .fe-footer:before {
    background-size: cover;
  }
  .fe-footer .fe-footer-inner .fe-footer-layout {
    display: -ms-grid;
    display: grid;
    grid-gap: 3rem;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .fe-footer .fe-footer-inner .fe-footer-layout .fe-footer-item {
    padding: 0 1rem;
  }
}
/*# sourceMappingURL=revendeur.css.map */